.card2{
    display: flex;
    margin-top: 200px;
    justify-content: space-between;
    }
    .card2 img{
        width: 35%;
        height: 30%;
        margin-left: 120px;
    }
    .servicebox{
        width: 50%;
        margin-top: 30px;
        margin-left: 150px;
    h1{
        width: 71%;
        font-size: 33px;
        line-height: 1.4;
        font-weight: 700;
        color: #40196D;
    }
    p{
        width: 58%;
        font-weight: 480;
        font-size: 14px;
    }
    }
    @media (max-width: 800px) {
        .card2{
            display: block;
            flex-direction: column;
            margin-top: 100px;

            }
            .card2 img{
                width: 60%;
                margin-left: 20px;
            }
            .servicebox{
                width: 100%;
                margin-top: 30px;
                margin-left: 10px;
                h1{
                    text-align: center;
                }
                p{
                    text-align: center;
                    font-weight: 400;
                    font-size: 12px;
                }
            }
    }